body{
    background-color: white;  
}
.container{
    margin-top: 30px;
}
#any{
    margin-right: 50px;
}
#mindsoul{
    margin-top: 10px;
}
.card-title{
    color: brown;
}
.card-text{
    color: rgb(235, 135, 5);
}
a.hover{
    color: brown;
}
.nav-link{
    color: rgb(167, 11, 11)!important;
}
.dropdown-item{
    color: rgb(235, 135, 5);
}
.col h5{
    margin-left: 23px;
    color: brown;
    font-weight: 20px;
    text-decoration: underline;
    font-weight: lighter;
    font-style: normal;
}
.col p{
    color: rgb(235, 135, 5);

}
#tweets{
    margin-top: 30px;
}
.btn btn-outline-success{
    color: blue;
}